<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | {{ site.siteName }}</title>
    <meta
      name="description"
      content="{{ description if description else site.siteName }}"
    >
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body class="l-body">
    <main class="l-main mdx-content">
      {{ content | safe }}
    </main>
    <script type="module" src="/js/gallery.js"></script>
  </body>
</html>
