.c-docs {
  padding: var(--sp-6);
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  justify-content: flex-start;
  gap: var(--sp-7);
}

@media (max-width: 768px) {
  .c-docs {
    grid-template-columns: 1fr;
    gap: var(--sp-4);
  }
}

.c-docs__list {
  list-style: none;
  padding: 0;
  margin-top: calc(var(--sp-2) * -1) !important;
}

.c-docs__item {
  display: flex;
  align-items: flex-start;
  gap: var(--sp-4);
  padding: var(--sp-4);
  margin-left: calc(var(--sp-4) * -1);
  margin-right: calc(var(--sp-4) * -1);
  width: calc(100% + (2 * var(--sp-4)));
  border-radius: var(--radius-lg);
  transition: background-color 0.3s ease;
}

.c-docs__item:hover {
  background-color: color-mix(in srgb, var(--color-bg) 90%, #64531e 10%);
}

.c-docs__icon {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  color: var(--clr-primary);
  margin-top: 2px;
}

.c-docs__link {
  padding-top: var(--sp-1);
  font-family: var(--font-sans);
  font-size: var(--text-md);
  font-weight: 450;
  color: var(--clr-maroon);
  line-height: var(--leading-body);
}

a.c-docs__link:hover {
  color: var(--color-primary);
  border-color: transparent;
}
